:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 17ms linear;
  transition: color 17ms linear;
}

body {
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  width: 100vw;
  height: 100vh;
  transition: background 0.34s ease;
}

body {
  font-family: "Roboto", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--main-fg-color);
}

[data-theme-toggle] {
  user-select: none;
  cursor: pointer;
}

nav>ul>li {
  opacity: 0.34;
}

nav>ul>li:hover,
nav>ul>li.active {
  transition: opacity 0.3s;
  opacity: 1;
}

header>nav>ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

header>nav>ul>li {
  cursor: pointer;
  list-style: none;
  color: var(--main-fg-color);
}

header>nav>ul>li>.label {
  padding: 1rem;
}

header>nav>ul>li[data-configuration] {
  position: relative;
}

header>nav>ul>li[data-configuration]>.dropdown {
  display: none;
}

header>nav>ul>li[data-configuration]:hover>.dropdown,
header>nav>ul>li[data-configuration].active>.dropdown {
  display: block;
  position: absolute;
  z-index: 2;
  width: 150%;
}

header>nav>ul>li[data-configuration]:hover>.dropdown>ul>li,
header>nav>ul>li[data-configuration].active>.dropdown>ul>li {
  cursor: pointer;
  list-style: none;
  color: var(--main-fg-color);
  padding: 1rem;
  margin-bottom: 0.25rem;
  background: var(--main-fg-color);
  color: var(--main-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.3125rem);
  margin-top: -2rem;
}

main.blur {
  filter: blur(1.25rem);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
}

.container .box {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container .display {
  font-size: 8rem;
  cursor: pointer;
  min-width: 400px;
  min-height: 200px;
  line-height: 200px;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.color-picker input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.color-picker input[type="color"]::-webkit-color-swatch {
  border-radius: 0px;
  border: var(--main-bg-color) 1px solid;
}

.color-picker input[type="color"]::-moz-color-swatch {
  border-radius: 0px;
  border: var(--main-bg-color) 1px solid;
}
